<h1>Add couple</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@couple) do |f| %>

    <%= f.select :boy_id do %>
      <% @lstBoys.each do |c| %>
        <%= content_tag(:option, c.name, value: c.id) %>
      <% end %>
    <% end %>

    <%= f.select :girl_id do %>
      <% @lstGirls.each do |c| %>
        <%= content_tag(:option, c.name, value: c.id) %>
      <% end %>
    <% end %>

    <%= f.submit "Add couple", class: "btn btn-primary" %>
  <% end %>


  </div>
</div>
