<%= render 'shared/header' %>

</br>
</br>
<p>Dancer with most age sections</p>
</br>

<p>most number of age sections: <%= @max_age_sections %> </p>
<p>dancers:</p>
<% @dancers_most_age_sections.each do |dancer|%>
  <li id='<%= dancer.id %>'>
    <p>
      <%= dancer.name %>
      <%= link_to 'show', dancer_path(dancer.id) %>
    </p>
  </li>
<% end %>

