<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<h1>Entries</h1>

<%= link_to 'New Entry', new_entry_path %>

<table>
  <thead>
    <tr>
      <th>Couple</th>
      <th>Competition</th>
      <th>Division</th>
      <th>Agesection</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.couple_id %></td>
        <td><%= entry.competition_id %></td>
        <td><%= entry.division_id %></td>
        <td><%= entry.agesection_id %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
