<%= render 'shared/header' %>

<p>All partners of a dancer </p>

<%= form_for @dancer_partner,
    :url => { controller: 'dancer_partners', action: 'create' } do |f| %>

  <%= f.select :id do %>
    <% Dancer.select(:id, :name).all.each do |dancer| %>
      <%= content_tag(:option, dancer.name, value: dancer.id) %>
    <% end %>
  <% end %>

  <%= f.submit "Search", class: "btn btn-primary"%>
<% end %>
