<%= form_with(model: competition, local: true) do |form| %>
  <% if competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% competition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :competition_name %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :competition_date %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :competition_country %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price, id: :competition_price %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency, id: :competition_currency %>
  </div>

  <div class="field">
    <%= form.label :max_couples_on_floor %>
    <%= form.number_field :max_couples_on_floor, id: :competition_max_couples_on_floor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
