<%= render 'shared/header' %>

</br>
</br>
<p>
Couples with dancers from different countries
</p>
</br>
</br>

<% @lst_couples.each do |couple| %>
  <li id='<%= couple.id %>'>
    <p>
        M: <%= couple.boy_name%>
        <%= link_to 'show', dancer_path(couple.boy_id) %>
        F: <%= couple.girl_name %>
        <%= link_to 'show', dancer_path(couple.girl_id) %>
    </p>
  </li>
<% end %>
