<p id="notice"><%= notice %></p>

<p>
  <strong>Couple:</strong>
  <%= @participant.couple_id %>
</p>

<p>
  <strong>Competition:</strong>
  <%= @participant.competition_id %>
</p>

<p>
  <strong>Division:</strong>
  <%= @participant.division_id %>
</p>

<p>
  <strong>Agesection:</strong>
  <%= @participant.agesection_id %>
</p>

<%= link_to 'Edit', edit_participant_path(@participant) %> |
<%= link_to 'Back', participants_path %>
