<%= render 'shared/header' %>

</br>
</br>
<p>Dancer with most divisions</p>
</br>

<p>most number of divisions: <%= @max_divisions %> </p>
<p>dancers:</p>
<% @dancers_most_divisions.each do |dancer|%>
  <li id='<%= dancer.id %>'>
    <p>
      <%= dancer.name %>
      <%= link_to 'show', dancer_path(dancer.id) %>
    </p>
  </li>
<% end %>

