<%= form_with(model: agesection, local: true) do |form| %>
  <% if agesection.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(agesection.errors.count, "error") %> prohibited this agesection from being saved:</h2>

      <ul>
      <% agesection.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :agesection_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
