<%= render 'shared/header' %>

<p id="notice"><%= notice %></p>

<h1>Agesections</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @agesections.each do |agesection| %>
      <tr>
        <td><%= agesection.name %></td>
        <td><%= link_to 'Show', agesection %></td>
        <td><%= link_to 'Edit', edit_agesection_path(agesection) %></td>
        <td><%= link_to 'Destroy', agesection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Agesection', new_agesection_path %>
