<%= render 'shared/header' %>

</br>
</br>
<%= @title %>
</br>
</br>

<% @lst_couples.each do |c| %>
  <li>
    <p>
        id: <%= c.id %>
    </p>
    <% boy = Dancer.find(c.boy_id) %>
    M:
    <%= boy.name %>
    -
    <%= boy.country %>
    , F:
    <% girl = Dancer.find(c.girl_id) %>
    <%= girl.name %>
    -
    <%= girl.country %>
  </li>
<% end %>
