<%= render 'shared/header' %>

<h1>Data</h1>

<%= link_to 'All partners of a dancer', new_dancer_partner_path %>
</br>

<%= link_to 'Couples with dancers from different countries', international_couples_path %>
</br>

<%= link_to "Dancers that have been in a couple with only one dancer", devoted_dancers_path %>
</br>
<%= link_to "Dancer with most competitions", dancer_most_competitions_url %>
</br>
<%= link_to "Dancer with most divisions", dancer_most_divisions_url %>
</br>
<%= link_to "Dancer with most age sections", dancer_most_age_sections_url %>
</br>
<%= link_to "Average yearly competitions per couple", avg_yearly_couple_competitions_url %>
</br>
<%= link_to "Country with most couples at competitions", country_most_couples_competitions_url %>
</br>
<%= link_to "Competition with most earnings", competition_most_earnings_url %>

