<%= render 'shared/header' %>

<h1>Data</h1>

<%= link_to 'All partners of a dancer', new_dancer_partner_path %>
</br>

<%= link_to "Couples with dancers from different countries", couples_diff_countries_url %>
</br>
<%= link_to "Dancers that have been in a couple with only one dancer", dancers_in_one_couple_url %>
</br>
<%= link_to "Dancer with most competitions", dancer_with_most_competitions_url %>
