<%= render 'shared/header' %>

<p>All previous partners of a dancer </p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@dancername) do |f| %>

      <%= f.label 'dancer name' %>
      <%= f.text_field :name, class: 'form-control' %>

      <%= f.submit "Submit", name: query1_url, class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
