<%= render 'shared/header' %>

</br>
</br>
<p>Dancer with most competitions</p>
</br>

<p>
  dancers with the most entries in competitions, <%= @max_entries %> :
</p>

<% @dancers_most_entries.each do |dancer|%>
  <li id='<%= dancer.id %>'>
    <p>
      <%= dancer.name %>
      <%= link_to 'show', dancer_path(dancer.id) %>
    </p>
  </li>
<% end %>

