<%= render 'shared/header' %>

</br>
</br>
<p>Average yearly competitions per couple, in the past 3 years: </p>
</br>

<% @couple_avg_yearly_competitions.each do |couple|%>
    <li id='<%= couple.id %>-<%= '%.4f' % (couple.total / 3.0) %>'>
      <p>
        M: <%= couple.boy_name%>
        <%= link_to 'show', dancer_path(couple.boy_id) %>
        F: <%= couple.girl_name %>
        <%= link_to 'show', dancer_path(couple.girl_id) %>
        avg: <%= '%.4f' % (couple.total / 3.0) %>
      </p>
    </li>
<% end %>


