<p id="notice"><%= notice %></p>

<p>
  <strong>id:</strong>
  <%= @dancer.id %>
</p>
<p>
  <strong>name:</strong>
  <%= @dancer.name %>
</p>
<p>
  <strong>country:</strong>
  <%= @dancer.country %>
</p>
<p>
  <strong>is_boy:</strong>
  <%= @dancer.is_boy %>
</p>
